<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#submit").click(
                function () {
                    $.get("login?name="+$("#username").val()+"&pwd="+$("#pwd").val(),function (data,status) {
                        alert("data:"+data+"  status:"+status);
                    });
                }
            );
            $("#reg").click(function () {

            })
        });
    </script>
</head>
<body>
<table>
    <tr><td>用户名：</td><td><input type="text" id="username"></td></tr>
    <tr><td>密码：</td><td><input type="password" id="pwd"></td></tr>
</table>
<div><button type="button" id="submit">登录</button><button type="button" id="reg">注册</button></div>
</body>
</html>