.glyphicon-heart-empty {
    color: #ff5142;
}
.glyphicon-heart {
    color: #ff5142;
}
.glyphicon-star-empty {
    color: #ffca1e;
}
.glyphicon-star {
    color: #ffca1e;
}
.glyphicon-edit {
    color: #2873ff;
}